# ignore environment files
.env
# igonore notes file
notes
# ignore profile pictures
*.png
!default.png
!flask_github.png
!site_images
*.jpg
# ignore json files
*.json
# ignore python byte-code
**/__pycache__/
# ignore .log files
*.log
# ignore .idea
.idea
