<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} About Page {% endblock %}</title>
    <link rel="stylesheet" href="/static/errors.css">
</head>
<body>
<div id="main">
    	<div class="fof">
          {% block content %}
            <h1>My first flask project</h1>
            <h2>This is full-featured Web application (or so it seems to me). </h2>
            <h3>P.S. Don't judge strictly</h3>
          {% endblock %}
        {% block footer %}
            <h3><a href="{{ url_for('main.home') }}">Come to the home page and enjoy it!</a></h3>
        {% endblock %}
    	</div>
</div>
</body>
</html>